http:
  middlewares:
    swagger-path:
      replacePathRegex:
        regex: "^/v1(?:/(.*))?$"
        replacement: "/apiDocs/v1/$1"

    swaggerv2-path:
      replacePathRegex:
        regex: "^/v2(?:/(.*))?$"
        replacement: "/v2/apiDocs"

    docker-socket-whitelist:
      ipWhiteList:
        sourceRange:
          - "109.248.161.80/32"

    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true