services:
  runner_backend:
    image: myoung34/github-runner:latest
    restart: always
    environment:
      RUNNER_NAME: runner_backend
      RUNNER_REPLACE_EXISTING: true
      EPHEMERAL: true
    volumes:
      - runner_backend_data:/tmp/github-runner
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/pourymovie:/opt/pourymovie
    env_file:
      - ../../env/infra/runner/backend/.env
  runner_backendv2:
    image: myoung34/github-runner:latest
    restart: always
    environment:
      RUNNER_NAME: runner_backendv2
      RUNNER_REPLACE_EXISTING: true
      EPHEMERAL: true
    volumes:
      - runner_backend_data:/tmp/github-runner
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/pourymovie:/opt/pourymovie
    env_file:
      - ../../env/infra/runner/backendV2/.env
  runner_frontend:
    image: myoung34/github-runner:latest
    restart: always
    environment:
      RUNNER_NAME: runner_frontend
      RUNNER_REPLACE_EXISTING: true
      EPHEMERAL: true
    env_file:
      - ../../env/infra/runner/frontend/.env
    volumes:
      - runner_frontend_data:/tmp/github-runner
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/pourymovie:/opt/pourymovie
  runner_infra:
    image: myoung34/github-runner:latest
    restart: always
    environment:
      RUNNER_NAME: runner_infra
      RUNNER_REPLACE_EXISTING: true
      EPHEMERAL: true
    volumes:
      - runner_infra_data:/tmp/github-runner
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/pourymovie:/opt/pourymovie
    env_file:
      - ../../env/infra/runner/infra/.env

volumes:
  runner_backend_data:
  runner_backendv2_data:
  runner_frontend_data:
  runner_infra_data: